<br>
<br>
<h1>Carousels</h1>
<app-carousels [images] = "images">
</app-carousels>
<br>
<br>
<h1>Auto Slide Carousels</h1>
<app-carousels [images] = "images" [autoSlide]="true">
</app-carousels>
<br>
<br>
<h1>Auto Slide Carousels with Custom Interval</h1>
<app-carousels [images] = "images" [autoSlide]="true" [slideInterval]="1000">
</app-carousels>
<br>
<br>
<h1>Hide Dot Indicators</h1>
<app-carousels [images] = "images" [indicators]="false">
</app-carousels>
<br>
<br>
<h1>Hide Button Controls</h1>
<app-carousels [images] = "images" [controls]="false">
</app-carousels>